# Copy this file to .env and fill in your values
# cp .env.example .env

GROQ_API_KEY=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
PINECONE_API_KEY=pcsk_wG5PZ_SrY8dmNURddoZzQHoVaWFarvv3fee8Vnq9C3Mi8FHKEKHhwy761JPkUZTFnoQNL

DB_HOST=aws-1-ap-southeast-1.pooler.supabase.com
DB_PORT=5432
DB_USER=postgres.ugsxztoirzbdrwmnqvwo
DB_PASSWORD=postgre7&7&7&=
DB_NAME=postgres

PINECONE_INDEX_NAME=airline-faq-index
